# Copiez ce fichier en ".env" et adaptez les valeurs pour votre environnement.
# Le fichier ".env" ne doit jamais être commité (voir .gitignore).

DJANGO_SECRET_KEY=change-moi-avec-une-cle-secrete-generee
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=
